.wrapper{
	background: url('images/wallpaper.png');
	width: 700px;	
	top: 0px;
	margin-left: 50%;
	left: -350px;
	height: 100%;
	position: absolute;
}

#canvas{
	background: url('../javascript/clockimages/clock.png');
	display: block;
	margin: auto;
	margin-top: 5%;
}

#digiClock{
	text-align: center;
	color: white;
	padding: 3%;
	margin: 0px auto;
}